<div class="app-title">
    <h1>NFT Viewer</h1>
</div>

<div class="app-nft">

    <div *ngIf="invalidAddress" class="invalid-address">
        <p>"{{ address }}" is not a valid address</p>
    </div>

    <div *ngIf="!loading; else appLoading" class="center-layout">
        <div class="main-nfts-wrapped">
            <div *ngIf="nft" class="nft-wrapped">
                <div>
                    <img src="{{ nft.json.image }}" alt="{{ nft.name }}">
                </div>
                <div class="nft-info">
                    <p><strong>Name: </strong>{{ nft.name }}</p>
                    <p><strong>Symbol: </strong>{{ nft.symbol }}</p>
                    <p><strong>Description: </strong>{{ nft.json.description }}</p>
                    <div class="btn-explorer">
                        <a href="https://explorer.solana.com/address/{{ tokenMint.toString() }}?cluster=devnet" target="_blank" title="Explorer 1">
                            See on explorer 1
                        </a>
                    </div>
                    <div class="btn-explorer">
                        <a href="https://solscan.io/token/{{ tokenMint.toString() }}?cluster=devnet" target="_blank" title="Explorer 2">
                            See on explorer 2
                        </a>
                    </div>
                </div>
            </div>

            <br>

            <div>
                <h2>Metadata</h2>
                <pre>
                    <code>
                        {{ metadataRaw }}
                    </code>
                </pre>
            </div>
        </div>
    </div>

    <ng-template #appLoading>
        <mat-spinner
            [diameter]="40"
        ></mat-spinner>
    </ng-template>

</div>
