<div class="app-title">
    <h1>Collection Viewer</h1>
    <button *ngIf="walletAddress" (click)="mintFromCollection()" class="btn-action" mat-button>Mint from collection</button>
</div>

<div class="app-collection">

    <div *ngIf="invalidAddress" class="invalid-address">
        <p>"{{ address }}" is not a valid address</p>
    </div>

    <div *ngIf="!loading; else appLoading" class="center-layout">
        <div *ngIf="collection">
            <div>
                <h1>NFT: XXX</h1>
            </div>
            <div>

            </div>
        </div>
    </div>

    <ng-template #appLoading>
        <mat-spinner
            [diameter]="40"
        ></mat-spinner>
    </ng-template>

</div>

