@import "../../../../variables";

::ng-deep .app-collection-card {
    box-shadow: 0 3px 6px #00000029 !important;

    .card-img {
        padding: 15px 15px 0 15px;

        img {
            border-radius: 5px;
        }
    }
    mat-card-content {
        text-align: center;
        margin-bottom: 0 !important;

        h3 {
            font-weight: 500;
            margin-bottom: 0 !important;
        }
    }
    mat-card-actions {
        text-align: center;

        button {
            margin-bottom: 10px !important;
        }
    }
}
