@import "../../../../variables";

::ng-deep .app-my-collections {
    display: flex;
    justify-content: center;

    .collection-wrapped {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        width: 70%;
        margin-top: 15px;
    }
    @media (max-width: 1200px) {
        .collection-wrapped {
            grid-template-columns: repeat(2, 1fr);
            width: 90%;
        }
    }
    @media (max-width: 768px) {
        .collection-wrapped {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
