<div class="app-title">
    <h1>My Collections</h1>
    <button *ngIf="walletAddress" (click)="newCollection()" class="btn-action" mat-button>New collection</button>
</div>

<div class="app-my-collections">

    <div *ngIf="walletAddress; else logout" class="center-layout">
        <div *ngIf="!loading; else appLoading" class="center-layout">

            <div *ngIf="collections && collections.length > 0; else withoutCollections" class="collection-wrapped">
                <app-collection-card
                    *ngFor="let c of collections"
                    [collection]="c"
                ></app-collection-card>
            </div>

            <ng-template #withoutCollections>
                <div class="without-collections">
                    <p>You haven't created NFT collections yet.</p>
                </div>
            </ng-template>

        </div>

    </div>

    <ng-template #logout>
        <div class="wallet-disconnect">
            <p>Connect your wallet to see all your collections.</p>
        </div>
    </ng-template>

    <ng-template #appLoading>
        <mat-spinner
            [diameter]="40"
        ></mat-spinner>
    </ng-template>

</div>
